{% extends "base.html" %}
{% load bootstrap3 %}
{% block contenido %}
 <div class="col-md-12">
 	
 		<legend>Crear Usuario</legend>
 		
           <div class="panel panel-inverse">
                
                
                {% if messages %}
	                <ul class="messages">
					    {% for message in messages %}
					    <!--<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>-->
					    <div class="alert alert-danger"> {{ message }} </div>
					    {% endfor %}
					</ul>
                {% endif %}
                
                        <div class="panel-body">
					    <p></p>
					    <div class="row">
						
							<form role="form" enctype="multipart/form-data" action="{% url 'usuario:crear_usuario'  %}" data-toggle="validator" 
							method="POST" name="form_crear_usuario" class="form-horizontal">{% csrf_token %}
								
								<div class="col-md-9 ui-sortable form-horizontal">
									
									<div class="form-group">
										<label for="inputName" class="col-md-4 control-label">Nombre</label>
										<div class="col-md-8">
											<input type="text" maxlength="30" class="form-control" name= "nombre" id="nombre" placeholder="Nombre" required>
										</div>	
									</div>
									
									<div class="form-group">
										<label for="inputName" class="col-md-4 control-label">Apellido</label>
										<div class="col-md-8">
											<input type="text" maxlength="20" class="form-control" name= "apellido" id="PrimerApellido" placeholder="Apellido" required>
										</div>	
									</div>
								
									<div class="form-group">
										<label for="inputName" class="col-md-4 control-label">Email</label>
										<div class="col-md-8">
											<input type="email" class="form-control" id="inputEmail" name= "email" placeholder="Email" required>
										</div>	
									</div>
									
									
									<div class="form-group">
										<label class="col-md-4 control-label">Password</label>
										<div class="col-md-8">
											<input type="password" maxlength="20" class="form-control"  name="inputPassword"  placeholder="Password" required>
										</div>	
									</div>
									
									<div class="form-group">
										<label class="col-md-4 control-label">Nombre de Usuario</label>
										<div class="col-md-8">
											<input type="text" maxlength="20" class="form-control" name= "nombredeusuario" id="nombre" placeholder="Username" required>
										</div>	
									</div>
									
		
									<br><br>
						        	<div class="form-group">
                                    <div class="col-md-8 col-md-offset-7">
                                        <button type="submit" class="btn btn-primary">Crear Usuario</button>
                                    </div>
								</div>
							</form>

						</div>


					</div>
                </div>
                
                <script>
               
				$(document).ready(function(){
				    $('form_crear_usuario').submit(function(event) { // o el id de tu formulario
				        alert("Workssss hahah");
				        if($('#{{form.primer_nombre.id_for_label}}').val() == 'lulu') {
				            alert("El campo primer nombre NO puede ser vacio");
				        }
				    })
				
				})
				</script>
</div>

{% endblock contenido %}

{% block plugins %}


	<script>
			$(document).ready(function() {
				
				App.init();


			});
	</script>




{% endblock plugins %}
